/* red :#A52020
orange : #f28e1c */

html{
  background-color: rgb(249,249,249);
  height: auto;
  min-height: 100%;
}

body{
  overflow-x: hidden;
  background-color: rgb(249,249,249);
}

header{
  background-color: #3d3d3d;
  color : #fefefe;
}
header a,
header a:hover{
  color : #fefefe;
  text-decoration: none;
}

header .logo{
  height:100px
}

header .linkHeader{
  background-color: transparent;
}
header .linkHeader:hover{
  background-color: #2d2d2d;
  cursor: pointer;
}

main{
  margin-top: 204px;
  background-color: rgb(249,249,249);
}
footer {
  background-color: #3d3d3d;
  font-size: 0.85rem;
  height: 50px;
  color : #fefefe;
}

.cocktail img,
.card img{
  width: 100%;
}

a.card {
  text-decoration: none;
  color: #333333;
  transition-duration: 500ms;
}
a.card img{
  opacity: 0.85;
  transition-duration: 500ms;
}

a.card:hover {
  text-decoration: none;
  color: #222222;
  transition-duration: 500ms;
}
a.card:hover img{
  opacity: 1;
  transition-duration: 500ms;
}